body, html {
  height: 100%;
  margin: 0;
  background-color: #EAECEE ;
  min-width:1000px;       
  width: auto !important;  
  width:1000px;
}

.container {
  text-align: center;
  height: 100%;
  padding: px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  color: white;
}

.header {
  background-color: #283747  ;
  font-weight: bold;
}

.article {
  background-color: #1F618D;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #283747 ;
}

/* SOLUTION */

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}